* {
  box-sizing: border-box;
}

@media screen and (max-width:768px;
) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED081D;
  height: 100px;
}

.nav li {
  float: center;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-left: 200px;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  float: right;
}

@media screen and (max-width:768px;
) {
  .btn {
    background-color: #ED086C;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 10px;
    cursor: pointer;
  }
}

.food {
  background-image: url("../img/food1.jpg");
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  transition: width 5s, height 5s, transform 5s;
}

#hov:hover {
  width: 700px;
  height: 600px;
  ;
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(360deg);
}

.food:hover {
  opacity: 0.5;
}

footer {
  background-color: #ED081D;
  bottom: 0;
  position: relative;
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 3px black;
}

input, select {
  width: 30%;
  padding: 10px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-weight: bold;
}

#book {
  background-color: red;
  background: linear-gradient(to right, red, yellow);
  text-align: center;
}

#submit {
  width: 10%;
  color: white;
  position: relative;
  font-size: 30px;
  background-color: #08ED14;
  box-shadow: 10px 10px #396D1B;
  animation-name: shift;
  animation-duration: 8s;
  box-sizing: content;
}

@keyframes shift {
  0% {
    right: 0%;
  }
  30% {
    right: 20%
  }
  60% {
    right: 40%
  }
  90% {
    right: 30%
  }
  100% {
    right: 0%
  }
}

.gallery {
  /*margin: 0px;*/
  border: 1px solid #ccc;
  display: inline-block;
  width: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.description {
  padding: 15px;
  text-align: center;
  width: 180px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container2 {
  display: flex;
  height: 200px;
  /*flex-direction:column;
  align-content:flex-end;*/
  /*flex-wrap:wrap-reverse;*/
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  align-content: stretch;
}

}

/*#gallery {
  display: inline-block;
}*/
